/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom style */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    line-height: 1.2;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(../media/bg-intro-desktop.png), linear-gradient(rgb(255,121,120),rgb(255,121,120));
    background-size: cover;
    padding: 32px;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1370;
    margin: 100px auto;
    padding: 0 32px;
}
.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.para-col {
    width: 45%;
    color: white;
}
.para-col h1 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
}
.para-col p {
    font-size: 14px;
}
.purple-box {
    color: white;
    font-size: 12px;
    text-align: center;
    background-color: rgb(93,84,163);
    border-radius: 6px;
    border: none;
    box-shadow: 3px 6px 5px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    height: 50px;
    padding-top: 16px;
}
.bold {
    font-weight: 600;
}
/* Form */
form {
    max-width: 500px;
    background-color: white;
    margin: 0 auto;
    padding: 30px;
    border-radius: 6px;
}
.form-col {
    width: 50%;
}
.form-control {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 6px;
    border: solid rgb(241,241,241);
}
.form-control:focus {
    border-color: black;
}
button {
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgb(55,204,138);
    color: white;
    font-size: 12px;
    border-radius: 6px;
    border: none;
    box-shadow: 3px 6px 5px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}
label {
    font-size: 8px;
    color: rgb(216,213,228);
    display: block;
    text-align: center;
}
.bold-pink {
    color: tomato;
    font-weight: 600;
}